@import "~variables";
@import "~respond";

.bnsBrief {
  color: $black;
  position: relative;
  padding: 3 * $gap 0;

  &__title {
    font-size: 48px;
    line-height: 48px;
    font-weight: $heavyWeight;
    margin: 0;
  }

  &__description {
    font-size: 22px;
    line-height: 30px;
    font-weight: $mediumWeight;
  }

  &__form {
    margin: 4 * $gap 0;
  }

  &__formControl {
    margin-bottom: 3 * $gap;
  }

  &__checkbox {
    display: inline-block;
    margin-top: $gap;
    margin-bottom: $gap;
    margin-right: 2 * $gap;
  }

  &__formLabel {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: $mediumWeight;
    margin-bottom: $gap;
  }
}
