@import "~variables";
@import "~respond";

.docPreviewRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 2 * $gap;

  &__icon {
    margin-right: $gap;
  }

  &__name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__action {
    margin-left: 2 * $gap;
    cursor: pointer;
  }
}

.bnsBrief {
  color: $black;
  position: relative;
  padding: 3 * $gap 0;
  max-width: 510px;

  &__formField {
    margin-bottom: 2 * $gap;
  }

  &__action {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    @include respond(tablets) {
      flex-flow: row wrap;
    }

    &Btn {
      width: 100%;
      margin-bottom: 2 * $gap;

      @include respond(tablets) {
        margin-bottom: 0;
        width: auto;
      }
    }

    &Description {
      flex: 1;
      font-size: 14px;
      line-height: 20px;

      @include respond(tablets) {
        padding-left: 2 * $gap;
      }
    }
  }

  &__link {
    cursor: pointer;
    color: #4A90E2;
    text-decoration: underline;
  }

  &__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: $heavyWeight;
    margin: 0;

    @include respond(tablets) {
      font-size: 42px;
      line-height: 48px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: $mediumWeight;
  }

  &__form {
    margin: 4 * $gap 0;
  }

  &__formControl {
    margin-bottom: 3 * $gap;
  }

  &__checkbox {
    display: inline-block;
    margin-top: $gap;
    margin-bottom: 3 * $gap;
    margin-right: 2 * $gap;
  }

  &__formLabel {
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: $mediumWeight;
    margin-bottom: 1.5 * $gap;
  }
}
