@import "~variables";
@import "~respond";

.bnsIndex {
  color: $black;
  position: relative;

  &__sticky {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  // &__heroPlanet {
  //   display: none;
  //   position: absolute;
  //   z-index: 1;
  //   right: 0;
  //   top: -70px;
  //
  //   @include respond(tablets) {
  //     display: block;
  //     width: 300px;
  //   }
  //
  //   @include respond(desktop) {
  //     width: auto;
  //   }
  // }

  &__title {
    font-size: 32px;
    line-height: 38px;
    font-weight: $boldWeight;
    margin: 0 0 2 * $gap;

    @include respond(tablets) {
      font-size: 52px;
      line-height: 58px;
      // font-weight: $boldWeight;
      // margin: 0;
    }
  }

  &__description {
    font-size: 20px;
    line-height: 28px;
    font-weight: $lightWeight;

    @include respond(tablets) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__action {
    width: 100%;

    @include respond(tablets) {
      width: auto;
    }
  }

  &__expertise,
  &__service,
  &__process,
  &__forWhom,
  &__onDemand {
    padding: 5 * $gap 0;

    @include respond(tablets) {
      padding: 9 * $gap 0;
    }
  }

  &__WYSIWYG,
  &__misson,
  &__onDemand {
    color: $white;
    background: $black;
    background-blend-mode: screen;
  }

  &__hero,
  &__expertise,
  &__service,
  &__process,
  &__forWhom {
    background: white;
    background-blend-mode: screen;
  }
}

.bnsSticky {
  position: inherit;

  &__active,
  &__released {
    backface-visibility: hidden;
    color: rgb(253, 255, 252);
    mix-blend-mode: difference;
  }

  &__label {
    opacity: 0;
    z-index: 605;
    position: fixed;
    bottom: calc(var(--body-border-width, 20px) * 1.8 / 1 + 0px);
    transform-origin: left top;
    transform: translate3d(calc(var(--body-border-width, 20px) * 2 / 1 + 0px), 0, 0) rotate(-90deg);
    transition: opacity 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);

    @include respond(desktop) {
      opacity: 1;
    }
  }
}

.bnsHero {
  &__content {
    margin: 24px 0;

    @include respond(tablets) {
      margin: 48px 0px 0 -80px;
    }

    @include respond(desktop) {
      margin: 48px -80px 0;
    }

    align-items: center;
    display: flex;
    flex-flow: column wrap;

    @include respond(tablets) {
      flex-flow: row wrap;
    }

    &Image {
      z-index: 1;
      font-weight: $demiBoldWeight;
      position: absolute;
      top: -24px;
      text-align: right;

      @include respond(tablets) {
        width: 45%;
        padding-right: 48px;
        position: relative;
      }

      img {
        width: 80%;
        opacity: 0.2;

        @include respond(tablets) {
          opacity: 1;
          width: 100%;
        }
      }

      @include respond(tablets) {
        font-size: 42px;
        // margin-left: 160px;
      }
    }

    &Text {
      z-index: 2;
      margin-top: 32px;
      flex: 1;

      @include respond(desktop) {
        margin-top: -42px;
      }
    }
  }

  .bnsIndex__title,
  .bnsIndex__description {
    max-width: 100%;

    @include respond(tablets) {
      // max-width: 70%;
    }

    @include respond(desktop) {
      // max-width: 65%;
    }
  }

  .bnsIndex__title {
    margin-bottom: 3 * $gap;
  }

  .bnsIndex__description {
    margin-bottom: 5 * $gap;
  }

  &__parallaxBanner {
    height: auto !important;
  }

  &__parallaxChild {
    padding: 6 * $gap 0;
    position: relative;
  }
}
.bnsForWhom {
  &__items {
    display: flex;
    flex-flow: column wrap;
    margin: 4 * $gap 0 0;

    @include respond(tablets) {
      flex-flow: row wrap;
      margin: 8 * $gap 0;
    }
  }

  &__item {
    flex: 1;
    text-align: center;
    margin: 0 0 4 * $gap 0;

    @include respond(tablets) {
      margin: 0 2 * $gap 0 0;
    }
  }

  &__icon {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    height: 100px;
    margin: 0 auto 2 * $gap;

    @include respond(tablets) {
      min-height: 170px;
    }
  }

  &__description {
    margin: 0 auto;
    max-width: 224px;
    font-size: 18px;
    line-height: 25px;
    font-weight: $boldWeight;
  }

  .bnsIndex__actionWrapper {
    text-align: center;
  }
}
.bnsWYSIWYG {
  display: none;
  padding: 6 * $gap 0;

  @include respond(tablets) {
    display: block;
  }

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__titleBlock {
    flex: 9;
  }

  &__iconBlock {
    flex: 3;
  }
}

.bnsProcess {
  &__items {
    margin-top: 40px;
    margin-bottom: 40px;

    @include respond(tablets) {
      margin-top: 56px;
      margin-bottom: 56px;
    }
  }

  &__item {
    display: flex;
    flex-flow: row wrap;
    // align-items: center;
    // justify-content: center;
    margin-bottom: 32px;

    @include respond(tablets) {
      margin-bottom: 54px;
    }

    &Title {
      padding-top: 12px;
      font-size: 28px;
      width: 70px;
      font-weight: $demiBoldWeight;

      @include respond(tablets) {
        font-size: 42px;
        width: 160px;
        // margin-left: 160px;
      }
    }

    &Text {
      flex: 1;
      font-size: 18px;
      line-height: 26px;
      max-width: 600px;

      @include respond(tablets) {
        font-size: 26px;
        line-height: 38px;
        // margin-left: 160px;
      }
    }
  }

  &__action {
    @include respond(tablets) {
      margin-left: 160px;
    }
  }
}

.bnsOnDemand {
  &__items {
    display: flex;
    flex-flow: row wrap;
    margin: 60px 0 0px;
  }

  &__item {
    flex: 1 0 calc(100% * (1/1) - 24px - 1px);
    margin: 0 2% 6 * $gap 0;

    @include respond(tablets) {
      flex: 1 0 calc(100% * (1/2) - 24px - 1px);
      margin: 0 2% 8 * $gap 0;
    }

    &Wrapper {
      display: flex;
      flex-flow: row wrap;
    }

    &Icon {
      width: 60px;
      margin-right: 2 * $gap;
    }

    &Title {
      font-size: 22px;
      line-height: 30px;
      font-weight: $boldWeight;
      margin-bottom: $gap;
    }

    &Text {
      font-size: 16px;
      line-height: 22px;
      max-width: 320px;
      font-weight: $lightWeight;
    }
  }
}
.bnsExpertise {
  background: #F9F9F9;

  .bnsIndex__description {
    margin-bottom: 2 * $gap;
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    margin: 40px 0;

    @include respond(desktop) {
      margin: 60px -120px;
    }
  }

  &__item {
    cursor: pointer;

    flex: 1 0 calc(100% * (1/1) - 24px - 1px);
    margin: 3 * $gap 2% 0 0;

    text-align: center;

    @include respond(tablets) {
      flex: 1 0 calc(100% * (1/2) - 24px - 1px);
    }

    @include respond(desktop) {
      flex: 1 0 calc(100% * (1/4) - 24px - 1px);
    }

    &Icon {
      // width: 50px;
      margin-bottom: 2 * $gap;
    }

    &Info {
      padding: 2 * $gap;
      background: white;
      min-height: 160px;
    }

    &Title {
      font-size: 20px;
      font-weight: $demiBoldWeight;
      margin-bottom: $gap;
    }

    &Text {
      font-size: 16px;
      line-height: 22px;
      text-align: left;
    }
  }
}
.bnsMission {
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__titleBlock {
    flex: 90;

    @include respond(tablets) {
      flex: 9;
    }
  }

  &__iconBlock {
    position: relative;
    flex: 10;

    @include respond(tablets) {
      flex: 3;
    }
  }

  .bnsIndex__title {
    padding: 32px 0;
  }

  svg {
    position: absolute;
    right: -40px;
    bottom: -72px;
    width: 70px;
    transform: rotate(-30deg);

    @include respond(tablets) {
      position: static;
      transform: none;
      width: auto;
      margin: 6 * $gap 10 * $gap 0;
    }
  }
}
.bnsService {
  p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 2 * $gap;

    @include respond(tablets) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__accent {
    font-weight: $demiBoldWeight;
  }

  &__wrapper {
    display: flex;
    flex-flow: column wrap;

    @include respond(tablets) {
      flex-flow: row wrap;
    }
  }

  &__infoBlock {
    flex: 1;
    margin-bottom: 4 * $gap;

    @include respond(tablets) {
      flex: 9;
      padding-right: 60px;
      margin-bottom: 0;
    }
  }
  &__statsBlock {
    flex: 1;

    @include respond(tablets) {
      flex: 3;
    }
  }
  &__subscribtion {
    margin-top: 6 * $gap;
  }

  &__statItem {
    margin-bottom: 4 * $gap;

    &:last-child {
      margin-bottom: 0;
    }

    &Title {
      font-size: 64px;
      line-height: 64px;
      font-weight: $heavyWeight;
    }

    &Description {
      font-size: 22px;
      line-height: 30px;
    }
  }
}
