// //
// // Fonts
// //
// $font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';


//== typography
//
//## Font, line-height, and color for body text, headings, and more.

// font-family: Avenir Next, Roboto;
// $font-family-sans-serif:  Lato, Roboto, 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family-sans-serif:  Lato, Roboto, 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;
$font-family:             $font-family-base;

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


$grid-gutter-width: 30px;

// Small screen / tablet
$container-tablet:             (540px + $grid-gutter-width);
//** For `@screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (720px + $grid-gutter-width);
//** For `@screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
// $container-large-desktop:      (960px + $grid-gutter-width);
$container-large-desktop:      (870px + $grid-gutter-width);
//** For `@screen-lg-min` and up.
$container-lg:                 $container-large-desktop;

// Large screen / wide desktop
// $container-xlarge-desktop:      (1140px + $grid-gutter-width);
$container-xlarge-desktop:      (870px + $grid-gutter-width);
//** For `@screen-lg-min` and up.
$container-xl:                 $container-xlarge-desktop;


$ultraLightWeight: 300;
$lightWeight: 400;
$mediumWeight: 500;
$demiBoldWeight: 600;
$boldWeight: 700;
$heavyWeight: 800;

$black: #161620;
$white: #ffffff;

$gap: 8px;
