@import "~variables";
@import "~respond";

$brandBlack: #272727;
$brandWhite: #ffffff;
$brandYellow: #ffd900;

$headerHeight: 60px;

.breadcrumbs {
  margin-right: 25px;
}

.backdropClassName,
.dialogClassName,
.modal {
  top: 77px;
  bottom: 0;
}

.dialogClassName {
  position: fixed;
  margin: 0;
  left: 0;
  right: 0;
  max-width: inherit;

  & > div {
    height: 100%;
    border: none;
  }
}

.header {
  padding-right: 2 * $gap;
  padding-left: 2 * $gap;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);

  @include respond(tablets) {
    padding: 0 48px;
  }

  &.header_fixed {
    position: fixed;
    z-index: 100500;
    top: 0;
    left: 0;
    right: 0;
  }

  &__separator {
    background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
  }

  &__submenu {
    vertical-align: middle;
    margin-top: 3px;
  }

  &__text,
  &__submenu,
  &__separator {
    display: none;

    @include respond(tablets) {
      display: inline-block;
    }
  }

  &__submenuMenu {
    display: inline-block;
    font-size: 14px;
    color: #4b5761;
    text-transform: uppercase;
    // padding: 22px 5px;
    margin: 0 16px;
    position: relative;
    cursor: pointer;

    &.isActive,
    &:hover {
      color: #4b5761;
      text-decoration: none;

      &:before, &:before {
        right: auto;
        left: 0;
        width: 100%;
        display: block;
        content: "";
      }
    }

    a {
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      text-decoration: none;
      color: $black;
    }

    &.isActive {
      font-weight: 700;
    }

    &:first-child {
      margin-left: 0;
    }

    &:before {
      position: absolute;
      content: "";
      width: 0;
      right: 0;
      left: auto;
      bottom: -7px;
      height: 2px;
      background: #4a4a4a;
      display: block;
      transition: all .2s ease;
    }
  }

  &__wrapper {
    align-items: center;
    height: 77px;
  }

  &__logo {
    z-index: 1000;
    display: inline-block;
    background-image: url('https://www.instagram.com/static/bundles/base/sprite_glyphs_2x.png/5645ce9a6227.png');
    background-size: 241px 213px;
    background-position: -50px -164px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
  }

  &__text,
  &__title {
    z-index: 1000;
    font-size: 18px;
    font-weight: 600;
    color: #252729;
    text-decoration: none;
  }
}

.burger {
  z-index: 1000;
  display: inline-block;

  @include respond(tablets) {
    display: none;
  }

	width: 35px;
	height: 32px;
	margin: auto;
	cursor: pointer;
	position: relative;
}

.burger:before, .burger span, .burger:after {
	width: 100%;
	height: 4px;
	display: block;
	background: $black;
	border-radius: 2px;
	position: absolute;
	opacity: 1;
}

.burger:before, .burger:after {
    transition: top .35s cubic-bezier(.23,1,.32,1),transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	-webkit-transition: top .35s cubic-bezier(.23,1,.32,1),-webkit-transform .35s cubic-bezier(.23,1,.32,1),opacity .35s cubic-bezier(.23,1,.32,1),background-color 1.15s cubic-bezier(.86,0,.07,1);
	content: "";
}

.burger:before {
	top: 4px;
}

.burger span {
	top: 15px;
}

.burger:after {
	top: 26px;
}

/* Hover */
.burger:hover:before {
	top: 7px;
}

.burger:hover:after {
	top: 23px;
}

/* Click */
.burger.cross span {
	opacity: 0;
}

.burger.cross:before, .burger.cross:after {
	top: 40%;
}

.burger.cross:before {
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
}

.burger.cross:after {
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5); /*for IE*/
}

.burger:focus {
	outline: none;
}
