
.radio {
    cursor: pointer;
    display: flex
}

.radio.disabled {
    opacity: .3;
    pointer-events: none
}

.radio .radio-inner {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #fff;
  border: solid 1px #d7d7d7;
  display: inline-block;
  margin-right: 10px
}

.radio .radio-inner span,
.radio .radio-inner span:after {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 7px
}

.radio .radio-inner.default span:after {
    opacity: .2
}

.radio .radio-inner input[type=radio] {
    visibility: hidden
}

.radio .radio-inner input[type=radio]:checked+span:after {
    opacity: 1
}

.radio .radio-inner span {
    cursor: pointer;
    left: 4px;
    top: 4px
}

.radio .radio-inner span:after {
    opacity: 0;
    content: "";
    background: #49ce7f;
    top: 2px;
    left: 2px;
    transition: .3s ease
}

.radio:hover span:after {
    background: #49ce7f;
    opacity: .2
}
