$brandBlack: #272727;
$brandWhite: #ffffff;
$brandYellow: #ffd900;

.proofs {
  &__title {
    text-align: center;
    padding: 120px;
  }
}

.proof {
  // position: relative;
  background: $brandWhite;
  color: $brandBlack;

  &__header,
  &__content {
    padding: 16px 20px;
  }

  &__header {
    position: relative;
    background: $brandYellow;
    font-weight: bold;
    font-size: 18px;
  }

  &__count {
    font-size: 12px;
  }

  &__message {
    font-size: 36px;
    padding-top: 12px;
  }

  &__term {
    padding-bottom: 16px;
    line-height: 1.56;
  }

  &__termTitle {
    width: 42%;
    padding-right: 5px;
    font-weight: bold;
  }

  &__termDescr {
    font-weight: 300;
  }
}

.proof__header {
  position: relative;

  &:after {
    content : "";
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity : 0.03;
    z-index: 0;
  }
}

.proof__header.proof1 {
  position: relative;

  &:after {
    background-image: url('./imgs/flow-1.png');
    background-position: center;
  }
}

.proof__header.proof2 {
  position: relative;

  &:after {
    background-image: url('./imgs/flow-2.png');
    background-position: 29% 58%;
    opacity : 0.15;
  }
}

.proof__header.proof3 {
  position: relative;

  &:after {
    background-image: url('./imgs/flow-3.png');
    background-position: center;
  }
}
