@import "~variables";
@import "~respond";

.footer {
  position: relative;
  background: #FCBC1D;

  &__row {
    display: flex;
    flex-flow: column wrap;

    @include respond(tablets) {
      flex-flow: row wrap;
    }

    &_first {
      padding: 3 * $gap 0 0;

      @include respond(tablets) {
        padding: 4 * $gap 0;
      }
    }

    &_second {
      padding: 0 0 8 * $gap;

      @include respond(tablets) {
        padding: 4 * $gap 0 10 * $gap;
      }

      @include respond(desktop) {
        padding: 4 * $gap 0;
      }
    }
  }

  &__separeteLine {
    background: $black;
    height: 1px;

    display: none;

    @include respond(tablets) {
      display: block;
    }
  }

  &__socialBlock,
  &__contactBlock,
  &__addressBlock,
  &__privacyBlock,
  &__paymentsBlock {
    margin-bottom: 3 * $gap;

    @include respond(tablets) {
      margin-bottom: 0;
    }
  }

  &__socialBlock {
    flex: 1;

    @include respond(tablets) {
      flex: 40;
    }
  }
  &__contactBlock {
    flex: 1;

    @include respond(tablets) {
      flex: 60;
    }
  }
  &__addressBlock {
    flex: 1;
    order: 3;

    @include respond(tablets) {
      order: 1;
      flex: 40;
    }
  }
  &__privacyBlock {
    flex: 1;
    order: 1;

    @include respond(tablets) {
      order: 3;
      flex: 25;
    }
  }
  &__paymentsBlock {
    flex: 1;
    order: 2;

    @include respond(tablets) {
      order: 3;
      flex: 35;
    }
  }

  &__link {
    text-decoration: none;
    color: $black;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
  }

  &__title,
  &__copyright {
    font-size: 16px;
    font-weight: $boldWeight;
    margin-bottom: $gap;
  }

  &__social,
  &__payment {
    margin-right: $gap;
  }

  &__link {
    display: block;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    left: 20px;
    bottom: 0px;
  }
}
