/**
* Bootstrapper
*
* This bootstraps globals and base only. React views and components
* import their respective .scss files directly in the .js. All views and
* components utilise css modules (https://github.com/css-modules/css-modules)
*
* Variables, mixins etc should all be called directly from the .scss using them.
* E.g. @import '~variables' to include variables in the .scss
*/

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic');
@import url('//fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic,latin');

@import 'base';

// @import 'common/type';

// :global {
  // .navigationAnchor {
  //   display: block;
  //   margin: 10px;
  //   border-radius: 100%;
  //   background-color: #556270;
  //   padding: 5px;
  //   transition: all 0.2s;
  //   transform: scale(0.6);
  //
  //   &.active {
  //     transform: scale(1.1);
  //   }
  // }

  .stickyFooter {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;

    &__content {
      flex: 1;
    }
  }

  .bnsContainer {
    margin: 0 auto;
    // background: white;
    padding-right: 2 * $gap;
    padding-left: 2 * $gap;

    @include respond(tablets) {
      // background: red;
      width: $container-md;
    }

    @include respond(desktop) {
      // background: green;
      width: $container-lg;
    }

    // @include media-breakpoint-up(md) {
    //   width: $container-md;
    // }
    //
    // @include media-breakpoint-up(lg) {
    //   width: $container-lg;
    // }
    //
    // @include media-breakpoint-up(xl) {
    //   width: $container-xl;
    // }

    width: 100%;

    &_w720 {
      max-width: 720px;
    }

    &_w860 {
      max-width: 860px;
    }
  }
// }
